
{{#if showDashboard  }}
<div class="show-dashboard">
    <div class="row">
    <div class="col-lg-9">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card report-card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <p class="text-dark mb-0 fw-semibold font-16">Projects Involved</p>
                                <h3 class="m-0">35</h3>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="report-main-icon bg-light-alt">
                                    <i data-feather="briefcase" class="align-self-center text-muted icon-sm"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-md-6 col-lg-4">
                <div class="card report-card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <p class="text-dark mb-0 fw-semibold font-16">Causes Involved </p>
                                <h3 class="m-0">25</h3>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="report-main-icon bg-light-alt">
                                    <i data-feather="briefcase" class="align-self-center text-muted icon-sm"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-md-6 col-lg-4">
                <div class="card report-card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <p class="text-dark mb-0 fw-semibold font-16">Total Referrals <br> </p>
                                <h3 class="m-0">12</h3>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="report-main-icon bg-light-alt">
                                    <i data-feather="users" class="align-self-center text-muted icon-sm"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->



        </div>
        <!--end row-->

        <!--end card-->
        <div class="row">
            <div class="col-md-6 col-lg-6">

                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">News / Events</h4>
                            </div>
                            <!--end col-->
                            <div class="col-auto">
                                <div class="dropdown">
                                    <a href="#" class="btn btn-sm btn-outline-light">
                                        View all News and Events<i class="las la-external-link-alt ms-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-header-->
                    <div class="card-body">
                        <ul class="list-group custom-list-group mb-n3">
                            <li class="list-group-item align-items-center d-flex justify-content-between ">
                                <div class="media">
                                    <img src="/images/pending.jpg"
                                        style="width: 30px; height:30px; object-fit:cover; border-radius:100px;"
                                        class="me-3 align-self-center rounded" alt="...">
                                    <div class="media-body align-self-center">
                                        <h6 class="m-0">Send forth for adada memebers</h6>
                                        <p class="mb-0 text-muted">Date: 2012/08/05</p>
                                    </div>
                                    <!--end media body-->
                                </div>
                                <div class="align-self-center">
                                    <a href="#" class="btn btn-sm btn-soft-primary">View Details <i
                                            data-feather="arrow-right-circle"></i></a>
                                </div>
                            </li>
                            <li class="list-group-item align-items-center d-flex justify-content-between ">
                                <div class="media">
                                    <img src="/images/pending.jpg"
                                        style="width: 30px; height:30px; object-fit:cover; border-radius:100px;"
                                        class="me-3 align-self-center rounded" alt="...">
                                    <div class="media-body align-self-center">
                                        <h6 class="m-0">Send forth for adada memebers</h6>
                                        <p class="mb-0 text-muted">Date: 2012/08/05</p>
                                    </div>
                                    <!--end media body-->
                                </div>
                                <div class="align-self-center">
                                    <a href="#" class="btn btn-sm btn-soft-primary">View Details <i
                                            data-feather="arrow-right-circle"></i></a>
                                </div>
                            </li>
                        </ul>
                        <!--end /div-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
                <!--end card-->
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Running Projects</h4>
                            </div>
                            <!--end col-->
                            <div class="col-auto">
                                <div class="dropdown">
                                    <a href="#" class="btn btn-sm btn-outline-light">
                                        View all Projects<i class="las la-external-link-alt ms-1"></i>
                                    </a>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-header-->
                    <div class="card-body">
                        <ul class="list-group custom-list-group mb-n3">
                            <li class="list-group-item align-items-center d-flex justify-content-between ">
                                <div class="media">
                                    <img src="/images/care-center.jpg"
                                        style="width: 30px; height:30px; object-fit:cover; border-radius:100px;"
                                        class="me-3 align-self-center rounded" alt="...">
                                    <div class="media-body align-self-center">
                                        <h6 class="m-0">CARE CENTER</h6>
                                        <p class="mb-0 text-muted">Bringing health care to all faithfulls</p>
                                    </div>
                                    <!--end media body-->
                                </div>
                                <div class="align-self-center">
                                    <a href="#" class="btn btn-sm btn-soft-primary">4.3% <i
                                            data-feather="activity"></i></a>
                                </div>
                            </li>
                            <li class="list-group-item align-items-center d-flex justify-content-between ">
                                <div class="media">
                                    <img src="/images/care-center.jpg"
                                        style="width: 30px; height:30px; object-fit:cover; border-radius:100px;"
                                        class="me-3 align-self-center rounded" alt="...">
                                    <div class="media-body align-self-center">
                                        <h6 class="m-0">CARE CENTER</h6>
                                        <p class="mb-0 text-muted">Bringing health care to all faithfulls</p>
                                    </div>
                                    <!--end media body-->
                                </div>
                                <div class="align-self-center">
                                    <a href="#" class="btn btn-sm btn-soft-primary">4.3% <i
                                            data-feather="activity"></i></a>
                                </div>
                            </li>



                        </ul>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>

        </div>
    </div>
    <!--end col-->

    <div class="col-lg-3">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="media">
                            <img src="assets/images/money-beg.png" alt="" class="align-self-center" height="40">
                            <div class="media-body align-self-center ms-3">
                                <h6 class="m-0 font-20">N345,850.65</h6>
                                <p class="text-muted mb-0">Total Donations</p>
                            </div>
                            <!--end media body-->
                        </div>
                        <!--end media-->
                    </div>
                    <!--end col-->
                    <div class="col-auto align-self-center">
                        <p class="mb-0"><span class="text-success"><i class="mdi mdi-trending-up"></i>4.8%</span> Last
                            Month</p>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="row">
                    <div class="col-12">
                        <div class="apexchart-wrapper">
                            <div id="dash_spark_1" class="chart-gutters"></div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
            </div>
        </div>
        <!--end card-body-->

        <div class="col-md-12">
            <div class="card report-card">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col">
                            <p class="text-dark mb-0 fw-semibold font-16">Pending Referrals</p>
                            <h3 class="m-0">4</h3>
                        </div>
                        <div class="col-auto align-self-center">
                            <div class="report-main-icon bg-light-alt">
                                <i data-feather="users" class="align-self-center text-muted icon-sm"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->

    </div>
    <!--end col-->

</div>
<!--end row-->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Recent Referrals</h4>
                    </div>
                    <!--end col-->
                    <div class="col-auto">
                        <div class="dropdown">
                            <a href="#" class="btn btn-sm btn-outline-light">
                                View all Referrals<i class="las la-external-link-alt ms-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
            <!--end card-header-->
            <div class="card-body">
                <div class="table-responsive browser_users">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="border-top-0">Full name</th>
                                <th class="border-top-0">Email</th>
                                <th class="border-top-0">Action</th>

                            </tr>
                            <!--end tr-->
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark EMeka</td>
                                <td>markem@gmail.com</td>
                                <td><button class="btn btn-sm btn-success">Verify</button></td>
                            </tr>
                            <!--end tr-->
                            <tr>
                                <td>Kalu Labas</td>
                                <td>labskal@gmail.com</td>
                                <td><button class="btn btn-sm btn-success">Verify</button></td>
                            </tr>
                            <!--end tr-->
                            <tr>
                                <td>Jude Ekukwe</td>
                                <td>ekkjude@gmail.com</td>
                                <td><button class="btn btn-sm btn-success">Verify</button></td>
                            </tr>
                            <!--end tr-->

                            <!--end tr-->
                        </tbody>
                    </table>
                    <!--end table-->
                </div>
                <!--end /div-->
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Recent Donations</h4>
                    </div>
                    <!--end col-->
                    <div class="col-auto">
                        <div class="dropdown">
                            <a href="#" class="btn btn-sm btn-outline-light">
                                View all Donations<i class="las la-external-link-alt ms-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
            <!--end card-header-->
            <div class="card-body">
                <div class="table-responsive browser_users">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="border-top-0">Cause</th>
                                <th class="border-top-0">Amount</th>
                                <th class="border-top-0">Date</th>

                            </tr>
                            <!--end tr-->
                        </thead>
                        <tbody>
                            <tr>
                                <td>Care Center</td>
                                <td>N 2,000</td>
                                <td>2021/12/03</td>
                            </tr>
                            <!--end tr-->
                            <tr>
                                <td>Care Center</td>
                                <td>N 2,000</td>
                                <td>2021/12/03</td>
                            </tr>
                            <!--end tr-->
                            <tr>
                                <td>Care Center</td>
                                <td>N 2,000</td>
                                <td>2021/12/03</td>
                            </tr>
                            <!--end tr-->

                            <!--end tr-->
                        </tbody>
                    </table>
                    <!--end table-->
                </div>
                <!--end /div-->
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->
</div>
{{else  }}

<div class="waiting">
    <div class="row">
    <div class="col-md-6">

        <div class="container">
            <h3 class=" "><b>Just four more steps to  activate your account</b></h3>
            <hr>

            <div class="row d-flex justify-content-center">
                <div class="col-auto align-self-center">
                    {{#if progress.registration }}
                    <div class="report-main-icon  bg-primary p-2" style="border-radius: 40px;">
                        <i data-feather="check" class="align-self-center text-white icon-sm"></i>
                    </div>
                    {{else }}
                    <div class="report-main-icon  bg-secondary p-2" style="border-radius: 40px;">
                        <i data-feather="alert-triangle" class="align-self-center text-dark icon-sm"></i>
                    </div>
                    {{/if }}
                </div>
                <div class="col">
                    <a href="/member"><h2 class="m-0"><b> Registration</b></h2></a>
                </div>
            </div>
            <hr>
             <div class="row d-flex justify-content-center">
                <div class="col-auto align-self-center">
                    {{#if progress.verify_account }}
                    <div class="report-main-icon  bg-primary p-2" style="border-radius: 40px;">
                        <i data-feather="check" class="align-self-center text-white icon-sm"></i>
                    </div>
                    {{else }}
                    <div class="report-main-icon  bg-secondary p-2" style="border-radius: 40px;">
                        <i data-feather="alert-triangle" class="align-self-center text-dark icon-sm"></i>
                    </div>
                    {{/if }}
                </div>
                <div class="col">
                    <h2 class="m-0"><b>Verify  Account</b></h2>
                </div>
            </div>
            <hr>
            <div class="row d-flex justify-content-center">
                <div class="col-auto align-self-center">
                    {{#if progress.profile_update }}
                    <div class="report-main-icon  bg-primary p-2" style="border-radius: 40px;">
                        <i data-feather="check" class="align-self-center text-white icon-sm"></i>
                    </div>
                    {{else }}
                    <div class="report-main-icon  bg-secondary p-2" style="border-radius: 40px;">
                        <i data-feather="alert-triangle" class="align-self-center text-dark icon-sm"></i>
                    </div>
                    {{/if }}
                </div>
                <div class="col">
                    <a href="/member/profile"><h2 class="m-0"><b> Profile Update</b></h2></a>
                </div>
            </div>
            <hr>
            <div class="row d-flex justify-content-center">
                <div class="col-auto align-self-center">
                    {{#if progress.first_donation }}
                    <div class="report-main-icon  bg-primary p-2" style="border-radius: 40px;">
                        <i data-feather="check" class="align-self-center text-white icon-sm"></i>
                    </div>
                    {{else }}
                    <div class="report-main-icon  bg-secondary p-2" style="border-radius: 40px;">
                        <i data-feather="alert-triangle" class="align-self-center text-dark icon-sm"></i>
                    </div>
                    {{/if }}
                </div>
                <div class="col">
                    <a href="/member/causes"> <h2 class="m-0"><b> First Donations</b></h2></a>
                </div>
            </div>
            <br>
             
           
            


        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-header  bg-light">
                <h3><b>Welcome Message</b></h3>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Error esse, minus sapiente
                    numquam maxime maiores assumenda
                    deserunt possimus. Eligendi illum error dicta
                    soluta omnis repudiandae modi commodi autem
                    , nulla officia.</p>

                <p>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Error esse, minus sapiente
                    numquam maxime maiores assumenda
                    deserunt possimus. Eligendi illum error dicta
                    soluta omnis repudiandae modi commodi autem
                    , nulla officia.</p>
            </div>
        </div>
    </div>
</div>
</div>

{{/if  }}


